body{
    background-color: #CCCCCC;
    color: white;
}
.header{
    text-align: center;
    background-color: #000000;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}
.container{
    width: 700px;
    padding: 30px;
    margin: 50px auto;
    border: 1px black solid;
    background-color: #FF8000;
}
.container h1{
    text-align: center;
    text-align: right;
}
.button-59 {
    align-items: center;
    background-color: #CCCCCC;
    border: 2px solid #000;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-59:focus {
    color: #171e29;
  }
  
  .button-59:hover {
    border-color: #FF8000;
    color: #FF8000;
    fill: #FF8000;
  }
  
  .button-59:active {
    border-color: #FF8000;
    color: #FF8000;
    fill: #FF8000;
  }
  
  @media (min-width: 768px) {
    .button-59 {
      min-width: 170px;
    }
  }