* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: #CCCCCC;
    color: white;
}

.header {
    text-align: center;
    background-color: #000000;
    padding-top: 10px;
    padding-bottom: 50px;
    width: 100%;
}

.container {
    text-align: center;
    width: 500px;
    padding: 30px;
    margin: 50px auto;
    border: 1px black solid;
    border-radius: 300px;
    background-color: #FF8000;
}

.container h1 {
    text-align: center;
    text-align: right;
}